<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset("login.css") }}">

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="cont">
    <div class="form sign-in">
        <h2>Espace Admin</h2>
        <label>
            <span>ID ADMIN</span>
            <input type="email" name="email">
        </label>
        <label>
            <span>Password</span>
            <input type="mot de passe" name="password">
        </label>
        <button class="submit" type="button">connecter</button>
        <p class="forgot-pass">mot de passe oublié ?</p>

        <div class="social-media">
            <ul>
                <li><img src="facebook.png"></li>
                <li><img src="twitter.png"></li>
                <li><img src="linkedin.png"></li>
                <li><img src="instagram.png"></li>
            </ul>
        </div>
    </div>

</div>