{# adherant.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Profil User</title>
</head>
<body>
<h1>Profil coach</h1>

{# Affichage des informations de l'utilisateur #}
<p>Nom: {{ app.user.nom }}</p>
<p>Prénom: {{ app.user.prenom }}</p>
<p>Date de naissance: {{ app.user.dateNaissance|date('Y-m-d') }}</p>
<p>Email: {{ app.user.email }}</p>
{# ... #}
</body>
</html>
